.create-box {
    display: none;
    width: 500px;
}
h2 {
    font-size: 1.5rem;
}

.form-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.user-box:nth-child(1),
.user-box:nth-child(2),
.user-box:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
}

.user-box:nth-child(4),
.user-box:nth-child(5),
.user-box:nth-child(6),
.user-box:nth-child(7),
.user-box:nth-child(8),
.user-box:nth-child(9),
.user-box:nth-child(10),
.user-box:nth-child(11),
.user-box:nth-child(12),
.user-box:nth-child(13) {
    grid-column: span 3;
    grid-row: span 1;
}